@using ToDo.MvcUI.Areas.Admin.Models
@model AdminUserItem
<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline">ToDo <span class="text-danger">Admin</span></span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="/Admin/Home/Index" class="nav-link align-middle px-0">
                    <i class="fs-4 fa fa-home"></i> <span class="ms-1 d-none d-sm-inline">Ana Sayfa</span>
                </a>
            </li>
            <li>
                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Yönetim</span>
                </a>
                <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="/Admin/User/Index" class="nav-link px-0"> <span class="d-none d-sm-inline"><i class="fa fa-user"></i> Personeller</span></a>
                    </li>
                    <li>
                        <a href="/Admin/Service/Index" class="nav-link px-0"> <span class="d-none d-sm-inline"><i class="fa fa-wrench"></i> Hizmetler</span></a>
                    </li>
                    <li>
                        <a href="/Admin/Department/Index" class="nav-link px-0"> <span class="d-none d-sm-inline"><i class="fa fa-building"></i> Departmanlar</span></a>
                    </li>
                    <li>
                        <a href="/Admin/Wage/Index" class="nav-link px-0"> <span class="d-none d-sm-inline"><i class="fa fa-money-bill"></i> Maaşlar</span></a>
                    </li>
                    <li>
                        <a href="/Admin/AboutUs/Index" class="nav-link px-0"> <span class="d-none d-sm-inline"><i class="fa fa-info"></i> Hakkımızda</span></a>
                    </li>
                    <li>
                        <a href="/Admin/Contact/Index" class="nav-link px-0"> <span class="d-none d-sm-inline"><i class="fa fa-contact-card"></i> Mesajlar</span></a>
                    </li>
                </ul>
            </li>
            @*<li>
                <a href="/Admin/User/Index" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Personeller</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Department/Index" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Departmanlar</span>
                </a>
            </li>*@
            <li>
                <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                    <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">Proje Yönetimi</span>
                </a>
                <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="/Admin/Project/Index" class="nav-link px-0"> <span class="d-none d-sm-inline"><i class="fa fa-project-diagram"></i> Projeler</span></a>
                    </li>
                    <li>
                        <a href="/Admin/Label/Index" class="nav-link px-0"> <span class="d-none d-sm-inline"><i class=" fa fa-ticket"></i> Etiketler</span></a>
                    </li>
                    <li>
                        <a href="/Admin/Statu/Index" class="nav-link px-0"> <span class="d-none d-sm-inline"><i class="fa fa-stream"></i> Süreçler</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">İşler</span>
                </a>
                <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="/Admin/ProjectParticipant/Index" class="nav-link px-0"> <span class="d-none d-sm-inline"><i class="fa fa-users"></i> Ekipler</span></a>
                    </li>
                    @*<li>
                        <a href="/Admin/ProjectParticipant/Index" class="nav-link px-0"> <span class="d-none d-sm-inline">Ekipler</span></a>
                    </li>
                    <li>
                        <a href="/Admin/Statu/Index" class="nav-link px-0"> <span class="d-none d-sm-inline">İş Durumları</span> 3</a>
                    </li>*@
                    <li>
                        <a href="/Admin/Job/Index" class="nav-link px-0"> <span class="d-none d-sm-inline"><i class="fa fa-tasks"></i> İşler</span> </a>
                    </li>
                </ul>
            </li>
          
        </ul>
        <hr>
        <div class="dropdown pb-4">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none " >
               
                <span class="d-none d-sm-inline mx-1">@Model.FullName</span>
            </a>

        </div>
        <a  href="/Admin/Authentication/SignOut" class="btn btn-danger text-center mt-2 mb-2" type="button"><i class="fa fa-sign-out"></i>
            Çıkış Yap
        </a>

    </div>
</div>


