@using ToDo.MvcUI.Areas.Admin.Models
@model List<DepartmentItem>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section customStyles{
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

}
@section customScripts{
    <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>

    <script>
        $(document).ready(function () {
            //new DataTable('#userList');
            new DataTable('#departmentList', {
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json',
                },
                "columnDefs": [{
                    "targets": 2,
                    "orderable": false,
                },
                {
                    "targets": 3,
                    "orderable": false,
                }],
            });

            $(".btnAdd").click(function () {

                $("#txtName").val();
                $("#departmentAddModal").modal("show");
            });


            $("#btnSave").click(function () {

                var name = $("#txtName").val();
                var fd = new FormData();
                fd.append("name", name);



                $.ajax({
                    url: "/Admin/Department/Save",
                    method: "post",
                    datatype: "json",
                    contentType: false,
                    processData: false,
                    data: fd,
                    success: function (response) {
                        //if (response.isSuccess) {
                        //    Swal.fire('İşlem Başarılı', response.message, 'success')
                        //    $("#btnClear").trigger("click");
                        //}
                        if (response.isSuccess) {
                            Swal.fire({
                                title: 'İşlem Başarılı',
                                text: response.message,
                                icon: 'success',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Tamam'
                            }).then((result) => {
                                if (result.isConfirmed) {

                                    $("#btnClear").trigger("click");
                                    $("#departmentAddModal").modal("hide");



                                    // elemanın yaptığı kaydı html içindeki table a bir tr daha ekleyerek göster

                                    $("#departmentList tbody").append("<tr><td></td><td>" + name + "</td><td><button type='button' class='btn btn-danger btnDelete' departmentId='" + response.id + "'>SİL</button></td><td><button type='button' class='btn btn-warning btnEdit' departmentId='" + response.id + "'>DÜZENLE</button></td></tr>");

                                    window.location.href = "/Admin/Department/Index";

                                }
                            });
                        }

                        else {
                            Swal.fire('İşlem Başarısız', response.message, 'error')
                        }
                    }
                })
            });

            $(".btnDelete").click(function () {

                // $(this) --> bu olayı çalıştıran html elementidir
                var id = $(this).attr("departmentId");

                Swal.fire({
                    title: 'Emin misiniz?',
                    text: "Silme işlemi geri alınamaz!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sil!',
                    cancelButtonText: 'Vazgeç!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // sunucuya veriyi gönderip silinmesini sağlayacağız

                        $.ajax({
                            url: "/Admin/Department/Delete/" + id,
                            method: "post",
                            datatype: "json",
                            success: function (response) {
                                if (response.isSuccess) {
                                    Swal.fire('İşlem Başarılı', response.message, 'success').then(() => {
                                        window.location.href = "/Admin/Department/Index";
                                    });

                                }
                                else {
                                    var errors = "";
                                    for (var i = 0; i < response.errorMessages.length; i++) {
                                        errors += response.errorMessages[i] + "<br />";
                                    }

                                    Swal.fire('İşlem Başarısız', response.message + "<br />" + errors, 'error')
                                }
                            }
                        });
                    }
                    else {
                        Swal.fire('İşlem İptal Edildi', '', 'info')
                    }
                })
            });

            $(".btnEdit").click(function () {

                var id = $(this).attr("departmentId");

                $.ajax({
                    url: "/Admin/Department/GetDepartment/" + id,
                    method: "post",
                    datatype: "json",


                    success: function (response) {
                        $("#txtNameEdit").val(response.name);
                        $("#hfDepartmentId").val(id);

                        $("#departmentModal").modal("show");
                    }
                });

            });

            $("#btnUpdate").click(function () {

                var name = $("#txtNameEdit").val();
                var id = $("#hfDepartmentId").val();

                var fd = new FormData();
                fd.append("id", id);
                fd.append("name", name);



                $.ajax({
                    url: "/Admin/Department/Update",
                    method: "post",
                    datatype: "json",
                    contentType: false,
                    processData: false,
                    data: fd,
                    success: function (response) {

                        if (response.isSuccess) {
                            Swal.fire({
                                title: 'İşlem Başarılı',
                                text: response.message,
                                icon: 'success',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Tamam'
                            }).then((result) => {
                                if (result.isConfirmed) {

                                    //------------------------------------------------

                                    $("#departmentModal").modal("hide");
                                    window.location.href = "/Admin/Department/Index";



                                    // elemanın yaptığı kaydı html içindeki table a bir tr daha ekleyerek göster

                                    /*  $("#userList tbody").append("<tr><td><img src='data:image/jpeg;base64," + response.userPicture + "' style='width:150px;' /></td><td><img src='" + response.picturePath + "' style='width:150px;' /></td><td>" + name + "</td><td>" + surname + "</td><td>" + email + "</td><td>DÜZENLE</td><td><button type='button' class='btn btn-danger btnDelete' id='" + response.id + "'>SİL</button></td></tr>");*/

                                }
                            });
                        }

                        else {
                            Swal.fire('İşlem Başarısız', response.message, 'error')
                        }
                    }
                })
            });

        });
    </script>
}


<div class="modal fade" data-backdrop="static" id="departmentAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Departman Ekleme Formu</h1>
                @*<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button>*@
            </div>
            <div class="modal-body">
                <form>



                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Departman Adı</label>
                            <input type="text" class="form-control" id="txtName" placeholder="Departman Adı Giriniz">
                        </div>

                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button id="btnSave" type="button" class="btn btn-primary">Kaydet</button>
                    </div>


                    <button id="btnClear" type="reset" style="display:none;"></button>

                </form>
            </div>
        </div>
    </div>
</div>



<div class="card">
    <div class="card-header">
        <h3 class="card-title">Departman Yönetimi</h3>
    </div>
    <div class="list-group-item">
        <button type="button" class="btn btn-light btnAdd"><i class="fa fa-add"></i>Ekle</button>
    </div>
    <div class="card-body">
        <table id="departmentList" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Departman Adı</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Select((value, index) => new { Value = value, Index = index }))
                {
                    <tr>
                        <td>@(item.Index + 1)</td>
                        <td>@item.Value.Name</td>
                        <td>
                            <button id="btnDelete" type="button" class="btn btn-danger btnDelete" departmentId='@item.Value.Id'>SİL</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning btnEdit" departmentId='@item.Value.Id'>
                                DÜZENLE
                            </button>
                        </td>
                    </tr>
                }



            </tbody>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Departman Adı</th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>

    </div>
</div>



<div class="modal fade" data-backdrop="static" id="departmentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Departman Düzenleme Formu</h1>
                @*<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button>*@
            </div>
            <div class="modal-body">
                <form>
                    @*Aşağıdaki hidden input içerisinde güncellenmek istenen kategorinin id si tutuluyor. btnEdit e tıklandığında hangi kategorinin güncelleneceği bu inputtan okunabilir.*@
                    <input type="hidden" id="hfDepartmentId" />

                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Departman Adı</label>
                            <input type="text" class="form-control" id="txtNameEdit" placeholder="Departman Adı Giriniz">
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button id="btnUpdate" type="button" class="btn btn-primary">Kaydet</button>
                    </div>


                    <button id="btnClearEdit" type="reset" style="display:none;"></button>

                </form>
            </div>
        </div>
    </div>
</div>






