@{
    Layout = "~/Areas/User/Views/Shared/_userLayout.cshtml";
}




<div class="justify-content-center align-content-center d-flex" style="height:100vh">
    <h1 class="text-primary">Hoşgeldiniz!</h1>
   
</div>

